{% extends 'base.html' %}
{% block content %}
<main>
  <section class="container my-5 px-4">
    <h1 class="text-center"><span style="color:red">Ya</span>Cut</h1>
    <p class="text-center my-4">
      Создайте короткую ссылку автоматически или предложите свой вариант
    </p>

    <div class="container">
      <div class="row my-3">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          {% include 'includes/form.html' %}
        </div>
        <div class="col-sm">
        </div>
      </div>
    </div>

    {% include 'includes/info.html' %}

  </section>
</main>
{% endblock content %}